[submodule "custom/plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "custom/plugins/zsh-autoswitch-conda"]
	path = custom/plugins/zsh-autoswitch-conda
	url = git@github.com:bckim92/zsh-autoswitch-conda.git
